:root {
    --beige: #FBF1DC;
    --orange: #EA7317;
    --yellow: #FFC401;
    --red: #EC0C00;
    --black: #141414;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
    position: relative;
}

.main {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.main__inner {
    width: 100%;
}

.button {
    background-color: var(--beige);
    color: var(--black);
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding: 8px 24px;
    transition: color 0.2s ease;
}

.button:hover {
    color: var(--orange);
}

.button::after {
    content: '';
    background: linear-gradient(45deg, var(--red), var(--yellow));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 0.2s ease;
    z-index: -1;
}

.button:hover::after {
    transform: translate(5px, 5px);
}

.box_container {
    position: absolute;
    top: 25px;
    z-index: 1;
}

.box {
    background-color: var(--beige);
    max-width: 300px;
    padding: 40px 30px;
}

.box::after {
    content: '';
    background: linear-gradient(45deg, var(--red), var(--yellow));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(10px, 10px);
    z-index: -1;
}

.box__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 28px;
}

@media only screen and (max-width: 1000px) {
    .box_container {
        position: relative;
        top: 0;
    }

    .box {
        max-width: 100%;
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .box::after {
        content: '';
        right: 10px;
    }
}

.header__logo {
    margin: 18px 0;
    width: 115px;
}

.header__link {
    display: inline-block;
}

.header__tagline {
    display: block;
    margin-bottom: 40px;
}

.header__youth-for-triathlon {
    position: absolute;
    right: 0;
    top: 21px;
}

.hero {
    position: relative;
}

.hero__media {
    height: 500px;
    margin-left: 160px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1000px) {
    .hero__media {
        height: 300px;
        margin-left: 0;
    }
}

.hero__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    /*opacity: 0;*/
    transition: opacity 0.2s ease;
}

.hero__image.is-visible {
    opacity: 1;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 0;
    margin-left: 160px;
    padding-left: 0;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .navigation {
        margin-left: 0;
    }
}

@media only screen and (max-width: 650px) {
    .navigation {
        grid-template-columns: 320px;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .navigation {
        grid-template-columns: 1fr;
    }
}

.navigation__item {
    padding-top: 128.5%;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .navigation__item {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
}

.navigation__media {
    position: absolute;
    top: 0;
    bottom: 55px;
    width: 100%;
}

.navigation__media:hover + .button {
    color: var(--orange);
}

.navigation__media:hover + .button::after {
    transform: translate(5px, 5px);
}

.navigation__image {
    height: 100%;
    object-fit: cover;
    /*opacity: 0;*/
    transition: opacity 0.2s ease;
    width: 100%;
}

.navigation__image.is-visible {
    opacity: 1;
}

.footer {
    background-color: var(--beige);
    background-image: url("images/logo-color.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 265px;
    margin-top: 15px;
    padding: 30px 0;
    width: 100%;
}

.footer__message {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer__email a {
    color: var(--black);
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.post_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 50px 0 20px;
}

@media only screen and (max-width: 600px) {
    .post_grid {
        grid-template-columns: 1fr;
        margin: 15px 0 20px;
    }
}

.post {
    background-color: var(--beige);
    position: relative;
}

.post__media {
    height: 360px;
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .post__media {
        margin-bottom: 15px;
    }
}

.post__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.post__content {
    padding: 10px 30px;
}

@media only screen and (max-width: 800px) {
    .post__content {
        padding: 5px 15px;
    }
}

.post__content p {
    margin-top: 0;
}

.post__content a {
    word-break: break-all;
}

.post__content p a {
    color: var(--orange);
}

.post__date {
    color: var(--orange);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-media {
  display: block;
  text-align: left;
}

.social-media__icon {
  display: inline-block;
  width: 35px;
}
